.bg-grisSuave{
    background-color: #dedeff ;
}

.bg-azulpur{
    background-color: #3F51B5;
}

.bg-azulceleste{
    background-color: #757de8;
}
.bg-gris{
    background-color: #c1c1c1;
}
.bg-negro{
    background-color: #333333;
}
.bg-grisoscuro{
    background-color: #5c5c5c;
}
.bg-rosa{
    background-color: #FF4081;
}
.bg-pastel{
    background-color: #4942a3;
}
.bg-blanco{
    background-color: #F4F4F4;
}
.bg-blancoOscuro{
    background-color: #eaeaea;
}
.log-out{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-out-modal{
    font-size: 1.7rem;
}