.grisSuave{
    background-color: #dedeff;
}

.azulpur{
    background-color: #3F51B5;
}

.azulceleste{
    background-color: #757de8;
}

.banner{
    width: auto;
    height: 25rem;
}

.fontbanner{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}